@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', system-ui, sans-serif;
}

.logo{
    max-width: 75px;
}

.nav-link{
    font-size: 0.8rem;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-link.active{
    color: #0282F9 !important;
    padding: 33px 0;
    border-bottom: 4px solid #0081F8;
}

.jumbo{
    background-image: url('../images/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    height: 30dvh;
}

.labelSection{
    position: absolute;
    padding: 7.5px;
    background-color: #0081F8;
    color: #fff;
    border: 0;
    font-size: 1.5rem;
    font-weight: 600; 
    bottom: -5%;
    left: -4%;
    transform: translate(50%);

}

.searchBar{
    border-bottom:2.5px solid  #0081F8;
    text-align: right;
    
}

.searchBar input:focus {
    border: none;     
    outline: none;   
}